<div class="about-main">
  <h2>当サイトでできること</h2>
  <br>
  <h3>ゼミ生、または招待コードをお持ちの方</h3>
  <li>
  <p>
    ・ショートコメントを閲覧する
  </p>
  <p>
    ・コメントを投稿し、他のユーザーとコミュニケーションを楽しむ
  </p>
  <p>
    ・授業やイベントに関する共有事項を確認する
  </p>

  <br>

  <h3>ゼミ生でない方</h3>
  <p>
     coming soon...
  </p>

  </li>

  <img class="about-img" src= "about_example.jpg" alt="about-img">
</div>
